# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/

# VS Code
.vscode/

# Output
output/
logs/
scans/

# OS Files
Thumbs.db
.DS_Store

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environment files
.env